<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827147707464-0mqargcg6gecu97v7opngdghgp8gd2oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827147707464-0mqargcg6gecu97v7opngdghgp8gd2oi</string>
	<key>API_KEY</key>
	<string>AIzaSyAvTI6CXWtEXosdoTqDfG-Ibs8BmRmciDc</string>
	<key>GCM_SENDER_ID</key>
	<string>827147707464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-9372e</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-9372e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827147707464:ios:ddd97472bf81e83840e47d</string>
</dict>
</plist>